// Make sure the charset is set appropriately
// @charset UTF-8
@import normalize
@import compass
@import compass/css3

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700")

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import foundation/variables
@import foundation/components/global
@import foundation/components/grid
@import foundation/components/visibility
@import foundation/components/type
@import foundation/components/buttons
@import foundation/components/forms

@import semantic-mixins/main
@import semantic-mixins/image
@import semantic-mixins/css3-support

body
  background: none
  text-align: center
  *
    font-family: 'Open Sans', sans-serif

.row
  max-width: 100%

header.row
  background: $secondary-color
  +vertical-gradient(lighten($secondary-color,7%),darken($secondary-color,7%))
  text-align: left
  position: relative
  z-index: 40
  border-bottom: 1px solid #333
  border-top: 8px solid $primary-color

#logo img
  padding: 1.8em
  @media screen and (max-width: 768px)
    margin: 1.8em auto

.main_content
  padding-top: 3em
  padding-bottom: 3em
  background: #444 url('images/cartoes_bg.jpg') no-repeat center fixed
  background-size: cover
  box-shadow: 0 0 50px rgba(black,.5) inset

.button
  box-shadow: none
  &:hover
    +vertical-gradient(lighten($primary-color, 4%), darken($primary-color, 4%))
    box-shadow: 0 1px 3px rgba(black, .4)
    text-shadow: 0 -1px 1px rgba(black, .4)
  &:active
    background: $primary-color
    box-shadow: 0 2px 3px rgba(black, .3) inset
    text-shadow: 0 1px 1px rgba(black, .4)

h4
  color: darken($primary-color,7%)
  text-shadow: 1px 1px 1px white

.contact_form
  background: rgba($secondary-color, .85)
  // +vertical-gradient(lighten($secondary-color,7%),darken($secondary-color,7%))
  padding: 1em 1em 0
  border-radius: 6px
  box-shadow: 0 0 15px rgba(black, .3)
  border: 1px solid $primary-color
  p
    font-weight: 600
    font-size: .95em
  h4
    margin-bottom: .2em
  form
    margin-bottom: 0
    input[type=text], input[type=email], textarea
      border: 1px solid $primary-color
  @media screen and (max-width: 768px)
    padding: 1em .6em 0

.partners_container
  background: $primary-color
  +vertical-gradient(lighten($primary-color,3%),$primary-color)
  padding: 1em 0 2em
  border-top: 1px solid black
  border-bottom: 8px solid $secondary-color
  h4
    color: $secondary-color
    text-shadow: 1px 1px 1px rgba(black,.7)
  img
    width: 180px
    margin: .5em
    border-radius: 6px
    border: 3px solid transparent
    +transition(.6s)
    +opacity(.9)
    @media screen and (min-width: 768px)
      +saturate(.5)
    &:hover
      border-color: $primary-color
      +transform(scale(1.03))
      +saturate(1)
      +opacity(1)